<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.thermajust" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main_Tabbed_View"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Settings_Page"
            android:label="@string/title_activity_main__settings__page" >
        </activity>
        <activity
            android:name=".Device_Setup_Activity"
            android:label="@string/title_activity_device__setup_" >
        </activity>
        <activity
            android:name=".GroupSetupActivity"
            android:label="@string/title_activity_group_setup" >
        </activity>
        <activity
            android:name=".ScheduleSetupActivity"
            android:label="@string/title_activity_schedule_setup" >
        </activity>
        <activity
            android:name=".Power_Setup_Activity"
            android:label="@string/title_activity_power__setup_" >
        </activity>
    </application>

</manifest>
