<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.thermajust" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Main Activity -->
        <activity
            android:name=".Main_Tabbed_View"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Preference Activity -->
        <activity
            android:name=".Main_Settings_Page"
            android:label="@string/title_activity_main__settings__page" >
        </activity>

        <!-- Setup Activities -->
        <activity
            android:name=".Device_Setup"
            android:label="Device Setup"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_Tabbed_View" />
        </activity>
        <activity
            android:name=".Group_Setup"
            android:label="Group Setup"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_Tabbed_View" />
        </activity>
        <activity
            android:name=".Schedule_Setup"
            android:label="Schedule Setup"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_Tabbed_View" />
        </activity>
        <activity
            android:name=".Power_Setup"
            android:label="Power Setup"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_Tabbed_View" />
        </activity>
        <activity
            android:name=".WiFi_Default"
            android:label="@string/title_activity_wifi__default"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_Tabbed_View" />
        </activity>
    </application>

</manifest>
